@{
    ViewBag.Title = "Home Page";
}

<div class="container-xxl product-page-container">
    <div class="row">
        @*load product from controller*@
        @foreach (var productAttr in Model)
        {
            <div class="item col-6 col-sm-6 col-md-3">
                <div class="item-content">
                    <div class="wishlist-button">
                        <i class="fal fa-heart"></i>
                    </div>
                    @if (productAttr.product.status > 0)
                    {<div class="item-new"> <p>New</p> </div>}
                    @if (productAttr.product.sale_price > 0)
                    {<div class="item-sale"> <p>-@(productAttr.salePercent)%</p></div>}
                    <ul class="button-list">
                        <li class="item-button">
                            <p class="item-button-text">Quick View</p>
                            <i class="far fa-eye item-button-icon"></i>
                        </li>
                        <li class="item-button">
                            <a href="/Cart/AddItem?idProduct=1&quantity=2&color=pink&size=x" class="add-to-cart">
                                <p class="item-button-text">Quick Shop</p>
                                <i class="far fa-shopping-cart item-button-icon"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="item-img">
                        <image src=@Url.Content(productAttr.listGallery[0]) class="item-img-first"></image>
                        <image src=@Url.Content(productAttr.listGallery[1]) class="item-img-second"></image>
                    </div>
                    <div class="size-list">@String.Join(", ", productAttr.size)</div>
                    <div class="item-overlay"></div>
                </div>
                <h3 class="item-name">@productAttr.product.name</h3>
                <div class="d-flex mb-1">
                    @if (productAttr.product.sale_price > 0)
                    {
                        <p class="item-money me-1 mb-0">$@productAttr.product.price</p>
                        <p class="item-money-sale mb-0">$@productAttr.product.sale_price</p>
                    }
                    else
                    {
                        <p class="item-price mb-0">$@productAttr.product.price</p>
                    }
                </div>
                <ul class="color-list">
                    @foreach (var color in productAttr.listColorCode)
                    {
                        <li class="item-color">
                            <label for="">
                                <input name="color" type="radio">
                                <span class="radio-mark">
                                    <span style="background-color : @color" class="radio-mark-sub"></span>
                                </span>
                            </label>
                        </li>
                    }
                </ul>
            </div>
        }


        @*<div class="item col-md-3">
                <div class="item-content">
                    <div class="wishlist-button">
                        <i class="fal fa-heart"></i>
                    </div>
                    <div class="item-sale item-new">-34%</div>
                    <ul class="button-list">
                        <li class="item-button">
                            <p class="item-button-text">Quick View</p>
                            <i class="far fa-eye item-button-icon"></i>
                        </li>
                        <li class="item-button">
                            <a href="" class="add-to-cart">
                                <p class="item-button-text">Quick Shop</p>
                                <i class="far fa-shopping-cart item-button-icon"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="item-img">
                        <image src=@Url.Content("~/assets/images/first_watch_image.jpg") class="item-img-first"></image>
                        <image src=@Url.Content("~/assets/images/second_watch_image.jpg") class="item-img-second"></image>
                    </div>
                    <div class="item-overlay"></div>
                </div>
                <h3 class="item-name">Analogue Resin Strap</h3>
                <p class="item-price">$30.00</p>
                <ul class="color-list">
                    <li class="item-color">
                        <label for="">
                            <input name="color" type="radio">
                            <span class="radio-mark">
                                <span class="radio-mark-sub"></span>
                            </span>
                        </label>
                    </li>
                    <li class="item-color">
                        <label for="">
                            <input name="color" type="radio">
                            <span class="radio-mark">
                                <span class="radio-mark-sub"></span>
                            </span>
                        </label>
                    </li>
                </ul>
            </div>
            <div class="item col-md-3">
                <div class="item-content">
                    <div class="wishlist-button">
                        <i class="fal fa-heart"></i>
                    </div>
                    <div class="item-sale item-new"> New </div>
                    <ul class="button-list">
                        <li class="item-button">
                            <p class="item-button-text">Quick View</p>
                            <i class="far fa-eye item-button-icon"></i>
                        </li>
                        <li class="item-button">
                            <a href="" class="add-to-cart">
                                <p class="item-button-text">Quick Shop</p>
                                <i class="far fa-shopping-cart item-button-icon"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="item-img">
                        <image src=@Url.Content("~/assets/images/first_ridley_image.jpg") class="item-img-first"></image>
                        <image src=@Url.Content("~/assets/images/second_ridley_image.jpg") class="item-img-second"></image>
                    </div>
                    <div class="item-overlay"></div>
                </div>
                <h3 class="item-name">Analogue Resin Strap</h3>
                <p class="item-price">$30.00</p>
                <ul class="color-list">
                    <li class="item-color">
                        <label for="">
                            <input name="color" type="radio">
                            <span class="radio-mark">
                                <span class="radio-mark-sub"></span>
                            </span>
                        </label>
                    </li>
                    <li class="item-color">
                        <label for="">
                            <input name="color" type="radio">
                            <span class="radio-mark">
                                <span class="radio-mark-sub"></span>
                            </span>
                        </label>
                    </li>
                </ul>
            </div>
            <div class="item col-md-3">
                <div class="item-content">
                    <div class="wishlist-button">
                        <i class="fal fa-heart"></i>
                    </div>
                    <div class="item-new item-sale"> New </div>
                    <ul class="button-list">
                        <li class="item-button">
                            <p class="item-button-text">Quick View</p>
                            <i class="far fa-eye item-button-icon"></i>
                        </li>
                        <li class="item-button">
                            <a href="" class="add-to-cart">
                                <p class="item-button-text">Quick Shop</p>
                                <i class="far fa-shopping-cart item-button-icon"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="item-img">
                        <image src=@Url.Content("~/assets/images/first_pant_image.jpg") class="item-img-first"></image>
                        <image src=@Url.Content("~/assets/images/second_pant_image.jpg") class="item-img-second"></image>
                    </div>
                    <div class="item-overlay"></div>
                </div>
                <h3 class="item-name">Analogue Resin Strap</h3>
                <p class="item-price">$30.00</p>
                <ul class="color-list">
                    <li class="item-color">
                        <label for="">
                            <input name="color" type="radio">
                            <span class="radio-mark">
                                <span class="radio-mark-sub"></span>
                            </span>
                        </label>
                    </li>
                    <li class="item-color">
                        <label for="">
                            <input name="color" type="radio">
                            <span class="radio-mark">
                                <span class="radio-mark-sub"></span>
                            </span>
                        </label>
                    </li>
                </ul>
            </div>*@
    </div>
</div>

